@import "reset.css" screen;

@font-face {
   font-family: "GothamProRegular";
   src: url("../fonts/GothamProRegular/GothamProRegular.eot");
   src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
   url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
   url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
   font-family: "GothamProBold";
   src: url("../fonts/GothamProBold/GothamProBold.eot");
   src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
   url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
   url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
   font-family: "GothamProBlack";
   src: url("../fonts/GothamProBlack/GothamProBlack.eot");
   src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
   url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
   url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
/* font-family: "GothamProItalic"; */
@font-face {
   font-family: "GothamProItalic";
   src: url("../fonts/GothamProItalic/GothamProItalic.eot");
   src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
   url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
   url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
   font-family: "GothamProMedium";
   src: url("../fonts/GothamProMedium/GothamProMedium.eot");
   src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
   url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
   url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
   font-family: "GothamProLight";
   src: url("../fonts/GothamProLight/GothamProLight.eot");
   src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
   url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
   url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
/* font-family: "GothamProMediumItalic"; */
@font-face {
   font-family: "GothamProMediumItalic";
   src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
   src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
   url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
   url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
   font-family: "GothamProLightItalic";
   src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
   src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
   url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
   url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
/* font-family: "GothamProBoldItalic"; */
@font-face {
   font-family: "GothamProBoldItalic";
   src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
   src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
   url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
   url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
/* font-family: "GothamProBlackItalic"; */
@font-face {
   font-family: "GothamProBlackItalic";
   src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
   src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
   url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
   url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}


body{
   font-family: GothamProRegular;
}


a{
   color: inherit;
}

.w1140{
   width: 1140px;
   margin: 0 auto;
   position: relative;
   border-left: 1px solid #daecf8;
   border-right: 1px solid #daecf8;
}

.footer .w1140{
	border: none;
}

.head-line{
   background: url('../img/head.png') no-repeat;
   height: 21px;
}

.top-menu{
   height: 102px;
   line-height: 102px;
   color: #3498db;
   font-family: GothamProMedium;
   font-size: 14px;
   vertical-align: middle;
   padding-left: 80px;
}

.top-menu img{
   vertical-align: middle;
}

.menu-a{
   margin-left: 20px;
   text-transform: uppercase;
   text-decoration: none;
}

.menu-a:hover{
   color: #bf1e2d;
}

.phone{
   font-family: GothamProBold;
   font-size: 20px;
   color: #090909;
}

.i24{
   margin-left: 25px;
}

.block1{
   background: #f7fcfc;
   border-top: 1px solid #daecf8;
   border-bottom: 1px solid #daecf8;
   height: 410px;
   padding-top: 100px;
   padding-left: 80px;
   padding-right: 80px;
}

.art{
   position: absolute;
   right: 30px;
   z-index: 0;
   margin-top: -40px;
}

.title-block{
   font-size: 26px;
   text-transform: uppercase;
   color: #3498db;
   line-height: 44px;
   width: 570px;
   position: relative;
   z-index: 2;
}

.title-content{
   font-size: 30px;
   color: #3498db;
   line-height: 40px;
   font-family: GothamProLight;
   position: relative;
   z-index: 2;
   margin-bottom: 20px;
}

.text-block{
   font-family: GothamProLight;
   font-size: 16px;
   line-height: 28px;
   color: #292929;
   margin: 30px 0;
   position: relative;
   z-index: 2;
   width: 570px;
}

.button{
   height: 40px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background: #bf1e2d;
   color: #fff;
   font-size: 15px;
   line-height: 40px;
   text-transform: uppercase;
   padding: 0 45px;
   cursor: pointer;
   display: inline-block;
   position: relative;
   z-index: 2;
}

.button a{
   text-decoration: none;
}

.button:hover{
   background: #3498db;
}

.in-art{
   height: 994px;
   padding-top: 100px;
   text-align: center;
   position: relative;
   z-index: 2;
}

h1{
   font-size: 35px;
   font-family: GothamProLight;
   color: #171717;
   line-height: 38px;
   margin: 0 0 25px 0;
   text-align: center;
}

p{
   font-family: GothamProLight;
   font-size: 16px;
   line-height: 28px;
   color: #292929;
   margin: 0 0 30px 0;
}

.in-art p{
   width: 695px;
   margin: 0 auto 30px;
}

.abs{
   font-family: GothamProLight;
   font-size: 14px;
   line-height: 19px;
   color: #373737;
   text-align: center;
   position: absolute;
   z-index: 2;

}

.abs a{
   color: #3498db;
   font-size: 19px;
   line-height: 35px;
   font-family: GothamProMedium;
}

.abs a:hover{
   color: #bf1e2d;
}

.abs1{
   width: 230px;
   left: 200px;
   top: 573px;
}

.abs2{
   width: 292px;
   left: 383px;
   top: 790px;
}

.abs3{
   width: 235px;
   left: 764px;
   top: 783px;
}

.abs4{
   width: 330px;
   left: 658px;
   top: 983px;
}

.pr{
   margin: 55px auto 0;
}

.pr td{
   width: 180px;
   vertical-align: middle;
   text-align: center;
   font-size: 17px;
   line-height: 22px;
   color: #616161;
   font-family: GothamProLight;
   padding: 15px 0;
}

.pr td b{
   color: #3498db;
   font-family: GothamProBold;
}

.form{
   background: #3498db url('../img/form-bg.png') no-repeat scroll 215px 148px;
   min-height: 545px;
   text-align: center;
}

.title-form{
   color: #ffffff;
   font-family: GothamProLight;
   font-size: 35px;
   line-height: 37px;

   text-align: center;
   padding-top: 70px;
}

.title-form span{
   font-size: 16px;
}

.from-adr{
   width: 354px;
   float: left;
   font-family: GothamProLight;
   font-size: 16px;
   line-height: 22px;
   color: #ffffff;
   text-align: left;
}

.w_100{
   font-size: 19px;
   width: 100%;
}

.to-adr{
   width: 354px;
   float: right;
   font-family: GothamProLight;
   font-size: 16px;
   line-height: 22px;
   color: #ffffff;
   text-align: left;
}

.w_400{
   width: 400px;
}

input[type="text"]{
   border: none;
   width: 100%;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   color: #171717;
   line-height: 40px;
   outline: none;
   padding: 0 20px;
   box-sizing: border-box;
   font-family: GothamProLight;
   margin-top: 15px;
}

.from-to{
   padding: 90px 160px;
}

.arrow{
   float: left;
   text-align: center;
   width: 112px;
   padding-top: 48px;
}

.clear{
   clear: both;
}

.form .button:hover{
   opacity: 0.8;
   background: #bf1e2d;
}

.h1-style{
   font-size: 35px;
   font-family: GothamProLight;
   color: #171717;
   line-height: 38px;
   margin: 0 0 15px 0;
   text-align: center;
}

.contact-block{
   text-align: center;
   padding: 90px 0;

}

.light-text-block{
   text-align: center;
   color: #242424;
   font-family: GothamProLight;
   font-size: 18px;
   line-height: 28px;
   margin-bottom: 30px;
}

.cont{
   font-family: GothamProLight;
   font-size: 18px;
   color: #090909;
}

.cont b{
   font-family: GothamProMedium;
   margin-right: 8px;
}

.cont a{
   color: #3498db;
}

.cont a:hover{
   color: #bf1e2d;
}

.copyright{
   color: #a8a8a8;
   font-size: 12px;
   padding: 0 80px 30px;
   font-family: GothamProLight;
}

.copyright a{
   float: right;
   color: #3498db;
}

.copyright a:hover{
   color: #bf1e2d;
}

.foot-line{
   background: url('../img/foot-line.png') no-repeat;
   height: 50px;
}

.footer{
   background: #3498db;
   height: 65px;
   line-height: 65px;
   vertical-align: middle;
   font-family: GothamProMedium;
   color: #ffffff;
   font-size: 17px;
   text-transform: uppercase;
}

.footer img{
   vertical-align: middle;
}

.pad{
   padding: 0 80px;
}

.menu-foot-a{
   text-decoration: none;
   margin-right: 15px;
   font-size: 15px;
}

.menu-foot-a:hover{
   color: #bf1e2d;
}

.ico-f{
   margin-left: 15px;
}

.foot-but{
   display: inline-block;
   float: right;
   padding: 0 25px;

   height: 65px;
   line-height: 65px;
   vertical-align: middle;
   background: #59a7d9;
}

.foot-but a{
   text-decoration: none;
}

.foot-but img{
   margin-left: 5px;
}

.foot-but:hover{
   color: #bf1e2d;
}

.way{
   border-top: 1px solid #59a7d9;
   height: 175px;
   line-height: 175px;
   padding: 0 80px;
   opacity: 0.38;
   font-size: 14px;
   color: #181818;
}

.way a:hover{
   color: #bf1e2d;
}

.content-r{
   display: none;
   padding: 20px 0 60px;
}

.title-razv{
   position: relative;
   height: 60px;
   line-height: 60px;
   font-family: GothamProRegular;
   color: #1c1c1c;
   text-transform: uppercase;
   cursor: pointer;

}

.title-razv:hover{
   background: #daecf8;
   opacity: 0.8;
}

.razv.active .title-razv{
   font-family: GothamProMedium;
   font-size: 20px;
}

.razv.active .content-r{
   display: block;
}

.razv{
   border-bottom: 1px solid #daecf8;
}

.title-razv img{
   position: absolute;
   right: 20px;
   top: 14px;
}
.st-table{
   width: 100%;
   font-family: GothamProLight;
   font-size: 14px;
   line-height: 24px;
   color: #000000;
}

.st-table tr{
   vertical-align: top;
}

.st-table td{
   padding: 20px 30px;
   border: 1px solid #daecf8;
   vertical-align: top;
}

.st-table .head-table{
   font-family: GothamProMedium;
   font-size: 15px;
   white-space: nowrap;
   text-transform: uppercase;
   color: #3498db;
}

.st-table td:first-child{
   color: #3498db;
   border-left: none;
   padding-left: 0;
}

.st-table td:last-child{
   border-right: none;
}

.st-table tr:first-child td{
   border-top: none;
}

.st-table tr:last-child td{
   border-bottom: none;
}

.gray{
   font-family: GothamProLight;
   font-size: 14px;
   opacity: 0.46;
   color: #000000;
   margin-top: 30px;
}

.attention{
   height: 92px;
   line-height: 92px;
   background: url('../img/star.png') no-repeat scroll 0 34px;
   padding-left: 30px;
   color: #3498db;
   font-size: 21px;
}

.ttt{
   color: #181818;
}

span.black{
   text-transform: uppercase;
   font-family: GothamProBold;
   line-height: 35px;
}

.ttt a{
   color: #3498db;
}

.ttt a:hover{
   color: #bf1e2d;
}

.form-wind{
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -570px;
   z-index: 45;
   display: none;
   bottom: 0;
}

.form-wind{
   background: #3498db;
}

.close{
   background: url('../img/close.png') no-repeat;
   cursor: pointer;
   width: 45px;
   height: 45px;
   position: absolute;
   right: 50px;
   top: 50px;
}

.foot-but{
   cursor: pointer;
}